HEADLESS_MODE=true
USER_EMAIL=your_email@example.com
USER_PASSWORD=your_password
ENABLE_CONSOLE_LOGS=true
PW_TIMEOUT=10000
UI_BASE_URL=https://icarro-v1.netlify.app
API_BASE_URL=https://ilcarro-backend.herokuapp.com
TELEGRAM_TOKEN=your_telegram_token
TELEGRAM_TO=your_chat_id